html{
	font-size: 1.6rem;
	background-color: #d8d8d8

}
:root{
	--color-primary:;
	--color-secondary:;
}

.content1{
	text-align: center;
	background-position: center;
	position:relative;
	height: 95vh;
	background-image:
		url(img/cool.gif);
		background-size: cover;
		-webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 95%, 0 100%, 0 0);
	clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 95%, 0 100%, 0 0);

}
.header-space{
	color: white;
	font-size: 5rem;
	font-family: 'Orbitron', sans-serif;
	position: absolute;
	top: 35%;
	left: 50%;
	transform:translate(-50%, -50%);
}
.header-final{
	color: white;
	font-size: 1rem;
	font-family: 'Orbitron', sans-serif;
	position: absolute;
	top: 54%;
	left: 56%;
	transform:translate(-50%, -50%);

}
.header-visit{
	color: white;
	font-size: 1rem;
	font-family: 'Orbitron', sans-serif;
	position: absolute;
	top: 40%;
	left: 38.5%;
	transform:translate(-50%, -50%);

}
.Logo{
	top: 0%;
	left: 12rem;
}
html{
	font-size: 1.6rem;
	font-family: 'Orbitron', sans-serif;
}
.content2{
text-align: center;
	background-position: center;
	position:relative;
	height: 100vh;
	background-image:
		url(img/cool2.gif);
		background-size: cover;
		-webkit-clip-path: polygon(50% 0%, 100% 5%, 100% 100%, 50% 95%, 0 100%, 0 5%);
clip-path: polygon(50% 0%, 100% 5%, 100% 100%, 50% 95%, 0 100%, 0 5%);
}
	.flexbox{
position: relative;
	display: flex;
align-content: center;
justify-content: space-around;
background-color: red;
top: 50%
left:50%
}
.maincontainer{
position: absolute+;
width: 250px;
height: 320px;
top: 70%;
left:43%;
}
.thecard{
position: absolute;
width: 100%;
height: 100%;
transform-style: preserve-3d;
transition: all 0.5s ease;
}
.thecard:hover{
transform: rotateY(180deg);
}
.thefront{
position: absolute;
width: 100%;
height:100%;
backface-visibility: hidden;
background:#c5ccd8;
color:black;
border-radius: 20px
}
.theback{
position: absolute;
width: 100%;
height:100%;
backface-visibility: hidden;
background:#c5ccd8;
color:black;
transform: rotateY(180deg);
border-radius: 20px
}
.maincontainer2{
position: relative;
width: 250px;
height: 320px;
top: 20%;
left:43%;
}
.thecard2{
position: absolute;
width: 100%;
height: 100%;
transform-style: preserve-3d;
transition: all 0.5s ease;
}
.thecard2:hover{
transform: rotateY(180deg);
}
.thefront2{
position: absolute;
width: 100%;
height:100%;
backface-visibility: hidden;
background:#f49569;
color:black;
border-radius: 20px
}
.theback2{
position: absolute;
width: 100%;
height:100%;
backface-visibility: hidden;
background:#f49569;
color:black;
transform: rotateY(180deg);
border-radius: 20px
}
.maincontainer3{
position: relative;
width: 250px;
height: 320px;
top: 45%;
left:43%;
}
.thecard3{
position: absolute;
width: 100%;
height: 100%;
transform-style: preserve-3d;
transition: all 0.5s ease;
}
.thecard3:hover{
transform: rotateY(180deg);
}
.thefront3{
position: absolute;
width: 100%;
height:100%;
backface-visibility: hidden;
background:#ead54d;
color:black;
border-radius: 20px
}
.theback3{
position: absolute;
width: 100%;
height:100%;
backface-visibility: hidden;
background:#ead54d;
color:black;
transform: rotateY(180deg);
border-radius: 20px
}
html{
	font-size: 1.6rem;

}
.content3{
text-align: center;
	background-position: center;
	position:relative;
	height: 95vh;
	background-image:
		url(img/cool4.gif);
		background-size: cover;
		-webkit-clip-path: polygon(50% 0%, 100% 5%, 100% 100%, 50% 95%, 0 100%, 0 5%);
		clip-path: polygon(50% 0%, 100% 5%, 100% 100%, 50% 95%, 0 100%, 0 5%);
}
.future{
	padding: 60%;
	color: yellow;
	font-size: 60%;
	font-family: 'Orbitron', sans-serif;
	top: 100%;
	left: 13%
}
.rocket{
	position: absolute;
	left: 10%;
	top: 20%;
	z-index: -1;
}
.rocke2{
	position: absolute;
	left: 10%;
	top: 500%;
	z-index: -1;
}
.rocket3{
	position: absolute;
	left: 10%;
	top: 20%;
	z-index: -1;
}
.content4{
	text-align: center;
	background-position: center;
	position:relative;
	height: 95vh;
	background-image:
		url(img/moon.gif);
		background-size: cover;
    -webkit-clip-path: polygon(50% 0%, 100% 5%, 100% 100%, 50% 100%, 0 100%, 0 5%);
    clip-path: polygon(50% 0%, 100% 5%, 100% 100%, 50% 100%, 0 100%, 0 5%);
	}
	@media query {


	}
.{
	color: yellow;
	font-size: 3rem;
	font-family: 'Orbitron', sans-serif;
	top: 100%;
	left: 13%;
	padding:2rem
}
.myButton {
	-moz-box-shadow: 0px 5px 26px 3px #91b8b3;
	-webkit-box-shadow: 0px 5px 26px 3px #91b8b3;
	box-shadow: 0px 5px 26px 3px #91b8b3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
	background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
	background-color:#768d87;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Orbitron';
	font-size:28px;
	padding:15px 39px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2b665e;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
	background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
	background-color:#6c7c7c;
	font-family: 'Orbitron', sans-serif;
}
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
	position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}
/*
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
*/
